header{
    background-color: #db9494;
    border: 2px solid #3700ff;
    margin-top: 20px;      /* Margen superior */
    margin-right: 40px;    /* Margen derecho */
    margin-bottom: 30px;   /* Margen inferior */
    margin-left: 50px;     /* Margen izquierdo */
    padding: 15px;
}
